@font-face {
  font-family: "Tomato-Grotesk";
  src: local("Tomato-Grotesk"),
    url(../fonts/TomatoGrotesk-Regular.otf) format("otf"),
    url(../fonts/TomatoGrotesk-Regular.otf);
  font-style: normal;
  font-stretch: normal;
}
