.container {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  justify-content: space-evenly;
  margin-top: 45px;
}

.asset-header {
  text-align: center;
  margin-top: 40px;
}
.asset-header h3 {
  font-size: 45px;
  padding: 10px 0;
  font-family: "Tomato-Grotesk";
}
.asset-header p {
  font-size: 16px;
  font-family: "DM Sans";
  line-height: 24px;
}

.first-asset,
.second-asset {
  border: #c4c4c4;
  width: 28%;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  max-height: 520px;
}

.third-asset {
  height: 600px;
  border: #c4c4c4;
  width: 28%;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  max-height: 520px;
}
.second-asset,
.third-asset {
  position: relative;
}
.upper-container-first {
  background-color: #fff4f0;
  height: 120px;
}

.upper-container-second {
  background-color: #f6f2ff;
  height: 120px;
}
.upper-container-third {
  background-color: #ecfefe;
  height: 120px;
}
.round-image {
  width: 120px;
  height: 120px;
  background-color: #fff;
  position: absolute;
  bottom: 21rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 40%;
}
.asset-texts {
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
}
.asset-texts h4 {
  font-size: 28px;
  padding-bottom: 20px;
  font-family: "Tomato-Grotesk";
}
.asset-texts p {
  width: 90%;
  margin: auto;
  font-size: 16px;
  color: #4a5050;
  line-height: 24px;
  font-weight: 400;
  font-family: "DM sans";
}
.foot-text {
  margin-top: 20px;
  height: 100%;
}
.foot-text1 {
  margin-top: 8px;
  height: 100%;
}
.foot-text span,
.foot-text1 span {
  color: #919fb5;
}
.foot-link {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 0 10px 10px 10px;
  margin-top: 62px;
}
.third-asset .foot-link {
  margin-top: 10px;
}
.foot-link a {
  text-decoration: none;
  color: #07969e;
  font-size: 17px;
  font-weight: 600;
  font-family: "Tomato-Grotesk";
}
@media (max-width: 832px) {
  .container {
    flex-direction: column;
  }
  .first-asset,
  .second-asset,
  .third-asset {
    width: 100%;
    align-items: center;
    margin: auto;
    margin-bottom: 80px;
  }

  .round-image {
    left: 6rem;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 100%;
  }
  .round-image {
    left: 35%;
  }
}
@media (max-width: 959px) {
  .round-image {
    left: 25%;
    top: 50px;
  }
}
@media only screen and (min-width: 738px) and (max-width: 831px) {
  .round-image {
    left: 18rem !important;
    top: 50px;
  }
}
@media (max-width: 435px) {
  .round-image {
    left: 32% !important;
    top: 50px;
  }
}

@media only screen and (min-width: 830px) and (max-width: 1084px) {
  .second-asset {
    min-height: 620px;
  }
  .second-asset .foot-link {
    margin-top: 43px;
  }
  .third-asset {
    min-height: 620px;
  }
  .round-image {
    bottom: 27rem;
  }
}
